body {
    background: #c8c8c8;
}

.active-filters {
    margin: 10px 0;
}

.active-filters li {
    padding: 8px 12px;
    border: 1px solid #00FF00;
    margin-right: 10px;
    
    cursor: pointer;
}

.command-menu {
    float: left;
    margin: 10px 0;
}

.command-menu li {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #FF0000;
    cursor: pointer;
}

.search-box {
    float: right;
    margin: 10px 0;
}

.search-box .search-bar {
    padding: 8px 12px;
    border: 1px solid red;
}

.search-box .search-bar:focus {
    outline: none;
}

.box-item {
    display: block;
    height: 200px;
    border: 2px solid #F0F0F0;
}

.box-item.red {
    background: #FF0000;
}

.box-item.green {
    background: #00FF00;
}

.box-item.orange {
    background: #FFA500;
}

.box-item.blue {
    background: #0000FF;
}

.box-item.blue p {
    color: #FFFFFF;
}
